@mixin cartDefault {
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 2;
    background-color: white;
    border: none;
    cursor: pointer;
}

.cart {

    .clickbar {
        @include cartDefault;
        display: none;

        .shoppingCart {
            font-size: 5rem;
        }
    }

    .clickbar2 {
        @include cartDefault;

        +.cartBox {
            transform: translateX(500px);
        }

        .shoppingCart {
            font-size: 5rem;
        }
    }
    
    .cartBox {
        position: fixed;
        height: 100%;
        overflow: auto;
        overflow-y: scroll;
        width: 500px;
        padding-left: 2rem;
        background-color: white;
        right: 0%;
        text-align: center;
        transition: 0.9s ease;
        border-left: 0.3ch solid;

        .cartItems {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .cartCloseBtn {
                cursor: pointer;
                position: absolute;
                top: 1%;
                left: 0;
                font-size: 3.5rem;
            }
        }
    }
}


